<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Status</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Server Status</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>MinecraftRegular.otf</string>
		<string>MinecraftItalic.otf</string>
		<string>MinecraftBoldItalic.otf</string>
		<string>MinecraftBold.otf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchImage</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
