<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>WKBackgroundModes</key>
	<array/>
    <key>INAlternativeAppNames</key>
    <array>
        <dict>
            <key>INAlternativeAppName</key>
            <string>Status</string>
        </dict>
        <dict>
            <key>INAlternativeAppName</key>
            <string>Server Status</string>
        </dict>
    </array>
</dict>
</plist>
